version: 2.1
orbs:
  codecov: codecov/codecov@5.4.3

executors:
  go:
    docker:
      - image: cimg/go:1.25
  vm:
    machine:
      image: ubuntu-2404:current

jobs:
  lint:
    executor: go
    steps:
      - checkout
      - run:
          name: Run linter
          command: make lint
  test:
    executor: vm
    steps:
      - checkout
      - run:
          name: Run tests
          command: make test
      - codecov/upload:
          files: coverage.txt
      - store_test_results:
          path: int-test-junit.xml

workflows:
  version: 2
  ci:
    jobs:
      - lint:
          context: org-global
      - test:
          context: org-global
