version: 2.1
orbs:
  codecov: codecov/codecov@3.2.2
  ucheck: udacity/ucheck@1

executors:
  go:
    docker:
      - image: cimg/go:1.17
  vm:
    machine:
      image: ubuntu-2004:202111-02

jobs:
  lint:
    executor: go
    steps:
      - checkout
      - run:
          name: Run linter
          command: make lint
  test:
    executor: vm
    steps:
      - checkout
      - run:
          name: Run tests
          command: make test
      - codecov/upload:
          file: coverage.txt
  int-test:
    executor: go
    steps:
      - checkout
      - run:
          name: Build
          command: make build
      - run:
          name: Grab CockroachDB SSL cert
          command: curl --create-dirs -o $HOME/.postgresql/root.crt -O $CRDB_CERT
      - run:
          name: Run integration tests
          command: ./pgverify --tests full,rowcount --include-tables testtable --aliases rds,crdb $PSQL_URI $CRDB_URI

workflows:
  version: 2
  ci:
    jobs:
      - lint:
          context: org-global
      - test:
          context: org-global
      - int-test:
          context: org-global
          requires:
            - lint
            - test
      - ucheck/ucheck:
          context: org-global
          filters:
            tags:
              only: /^ucheck-.*/
